.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.biomimicry {
  padding: 3rem 0;
  background-color: var(--ifm-background-surface-color);
}

.quickInstall {
  padding: 3rem 0;
}

.codeBlock {
  background-color: var(--ifm-code-background);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1.2rem;
  text-align: center;
}
